---
import { div } from "motion/react-client";


// Henter parametrene fra Astro.props

const { variant= "primary", size = "medium" } = Astro.props; 

 
//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "items-center bg-red-300 blur-s rounded-xl text-red-500 font-light p-2 hover:blur-sm animate-pulse sm:w-[10]"; 

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 

const variantClasses = {

"primary": "text-red-500 ",

"secondary": "bg-red-500 underline hover:bg-blue-600",

};

 
//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige og størrelser.

const sizeClasses = {

"large": "text-xl font-bold",

"medium": "text-m font-light",

"small": "text-s font-light hover:-skew-x-20",

};

---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}>
   <!--  <img src="/src/assets/pil-logo.svg" alt="pil" class="w-6 h-6 inline-block mr-2"> -->
    <slot />
  </button>
