---
---
<div class="text-xs text-red-500 flex flex-col items-end font-light p-4 sm:text-l">
<p>emiliebroeggerlarsen@gmail.com</p>
<p>Copyright: Emilie Brøgger Larsen</p>

<div class="flex items-center space-x-4 mt-2">
<a href="https://github.com/EmiliBL" target="_blank" rel="noopener noreferrer">
<img src="/src/assets/github-logo.svg" alt="Github"></a>
<a href="https://www.linkedin.com/in/emilie-broegger-larsen/?locale=en_US&trk=public-profile-join-page" target="_blank" rel="noopener noreferrer">
<img src="/src/assets/linkedin-logo.svg" alt="Linkedin"></a>
</div>

</div>
  