---
import '../styles/tailwind.css';
---
<section>
<h3 style="font-family: 'Unbounded', sans-serif;" class="animate-bounce text-red-500 font-light text-2xl mt-8 sm:mt-24 sm:mb-4 sm:text-4xl">
    Get in touch</h3>
<div class="flex items-center space-x-4 mt-2">
	<a href="https://github.com/EmiliBL" target="_blank" rel="noopener noreferrer">
	<img class="w-24px h-24px sm:w-48px sm:h-48px hover:blur-sm" src="/src/assets/github.svg" alt="Github"></a>
	<a href="https://www.linkedin.com/in/emilie-broegger-larsen/?locale=en_US&trk=public-profile-join-page" target="_blank" rel="noopener noreferrer">
	<img class="w-24px h-24px sm:w-48px sm:h-48px hover:blur-sm" src="/src/assets/linkedin.svg" alt="Linkedin"></a>
	</div>
</div>

<div style="font-family: 'Roboto', sans-serif;" class="text-xs text-red-500 flex flex-col items-end font-light p-4 sm:text-l">
    <p>Copyright: Emilie Brøgger Larsen</p>

</section>