---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

const linkStyling = "m-3 active:bg-red-700 hover:blur-xs duration-1000 cursor-pointer";

const variantClasses = {
  primary: "text-red-500",
  secondary: "text-black",
  standard: "text-blue-400"
};

const sizeClasses = {
  standard: "text-2xl",  
  large: "text-xl",
  medium: "text-base",
  small: "text-sm font-light",
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
  <slot />
</a>
